{% extends 'layout.html' %}
{% load static %}
{% block 'style' %}
<style>
    .image{
        background-image: url('{% static "img/car.jpg" %}');
        background-size: cover;
    }
    input{
        width: 100%;
        background-color: #000;
        border: 1px solid #fff;
        padding: 0.25rem;
        border-radius: 4px;
        color: white;
    }
    input:focus{
        background-color: rgba(255, 255, 255, 0.141);
        color: yellow;
    }
</style>
{% endblock %}
{% block 'title' %}{% endblock %}
{% block 'body' %}
<div class="container-fluid p-0 d-flex align-items-center flex-column flex-lg-row" style="height: 100vh;">
    <div class="w-100 w-lg-50 h-100 bg-danger image d-lg-block d-none"></div>
    <div class="w-lg-50 h-100 bg-black w-100">
        <form action="{% url 'index' %}" class="h-100 d-flex align-items-center justify-content-center flex-column gap-3" id="form">
            <div class="w-75">
                <label for="fn" class="text-white d-block">First Name</label>
                <input type="text" id="fn">
            </div>
            <div class="w-75">
                <label for="ln" class="text-white d-block">Last Name</label>
                <input type="text" id="ln">
            </div>
            <div class="w-75">
                <label for="un" class="text-white d-block">Username</label>
                <input type="text" id="un">
                <div style="display: none;" class="text-danger mt-2 small" id="userExistError">this username already exists!</div>
                <div style="color: white;" class="mt-2 small d-nones" id="usernameError">Required. 150 characters or fewer. Letters, digits and @ . + - _ only.</div>
            </div>
            <div class="w-75">
                <label for="e" class="text-white d-block">Email</label>
                <input type="text" id="e">
            </div>
            <div class="w-75">
                <label for="p" class="text-white d-block">Password</label>
                <input type="text" id="p">
            </div>
            <div class="w-75">
                <label for="cp" class="text-white d-block">Confirm Password</label>
                <input type="text" id="cp">
            </div>
            <div class="w-75">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>


<script>
    var users = JSON.parse('{{ users | escapejs }}');
    console.log(users);
    let username_field = document.getElementById('un')
    let user_exist_error = document.getElementById('userExistError')
    let username_error = document.getElementById('usernameError')
    let characters = "!\"#$%&'()*,/:;<=>?[\]^`{|}~♂♀ "

    var error = false
    username_field.addEventListener('input', function(){
        value = this.value
        for (i of users){
            if (i == value){
                console.log(i);
                console.log(value);
                console.log('username already exist!');
                user_exist_error.style.display = 'block';
                error = true;
                break;
            }else{
                user_exist_error.style.display = 'none';
                error = false;
            }
        }
        if (this.value.length === 0){
            username_error.style.color = 'white'
        }
        for (x of this.value){
                if (characters.includes(x)){
                    username_error.style.color = 'red'
                    error = true
                    break;
                }else{
                    username_error.style.color = 'white'
                    error = false;
                }
            }
    })

    form = document.getElementById('form')
    form.addEventListener('submit',function (e) {
        if (error==true){
            e.preventDefault()
        }
    })


</script>
{% endblock %}